//背景图片
body{   
        background:url(C:/Users/doctor_syt/Pictures/2.jpg);
        background-size:cover;
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-position:center;
}
//顶栏图片
.header {
          background:url(C:/Users/doctor_syt/Pictures/2.jpg) none repeat scroll !important;
}
//底栏背景色
.footer {
          background:rgba(158,155,20,0.7) none repeat scroll !important;
}
//侧栏图片及内部文字颜色修改
#sidebar {
            background:url(C:/Users/doctor_syt/Pictures/2.jpg);
            background-size: cover;
            background-position:center;
            background-repeat:no-repeat;
            p,span,a {color: 158,155,20;}
}
